$width: 100vw;
$height: 80vh;

.home-container {
  width: $width;
  height: $height;
  display: flex;
  align-items: center;
}

.swiper-wrapper {
  width: $width !important;
  height: $height !important;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 1vh !important;
}
